
<div class="hero">
  <h1>X-men</h1>
  <br />
  <h2>Avengers</h2>
  <br />
  <h3>Spiderman</h3>
  <br />
  <h5>Venom</h5>
  <br />
  <h4>Thor</h4>
  <br/>
  <h6>Loki</h6>
  <br />
  <br />
  <%= link_to 'Add Comics', '#', class: 'btn btn-success' %>
</div>

<hr />


<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>This has been a huge learning experience!!!</h3>
    <br />
    <p>Working somewhat free form is a solid challenge. This would probably have been impossible three months ago.</p>
  </div>
</div>