<% @pages.each do |page| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= page.name %></h1>
    <br />
    <%= link_to 'Add Comics', '#', class: 'btn btn-success' %>
  </div>

  <hr />
<% end %>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>This has been a huge learning experience!!!</h3>
    <br />
    <p>Working somewhat free form is a solid challenge. This would probably have been impossible three months ago.</p>
  </div>
</div>