<div class="booyah-box col-10 offset-1">
	<h1><%= @issue.name %></h1>
	<br />
	<p><%= @issue.description %></p>
</div>

	<div class="float-right">
		<% if current_user && current_user == @place.user %>
			<%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-secondary' %>
			<%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
		<% end %>
	</div>

	<div class="float-right">
		<button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#photoModal">Add a photo</button>
	</div>

	<div class="float-right">
		<button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#myModal">Add a review</button>
	</div>

	<br /><br />
	<div class="clear"></div>
	<hr />
