@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #0f0f0f;
  background: rgb(8, 137, 223);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.navbar {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: 200;
  box-shadow: 0px 1px 3px #383838;
  background: image_url('mosaic.png');
}

.navbar-inverse .navbar-brand {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  color: #a50e0e;
  font-weight: bold;
  letter-spacing: 1.5px;
}

// .navbar-toggler-icon {
//   color: #d0d0d0
// }

ul {
  list-style-type: none;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.clr {
  clear: both;
}

body {
  background: image_url('waves.png');
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(224, 200, 89);
  font-size: 40px;
}

h2 {
  margin: 0;
  padding: 0;
  color: rgb(179, 17, 17);
  font-size: 30px;
}

h3 {
  margin: 0;
  padding: 0;
  color: rgb(32, 12, 214);
  font-size: 30px;
}

h4 {
  margin: 0;
  padding: 0;
  color: rgb(238, 148, 13);
  font-size: 40px;
}

h5 {
  margin: 0;
  padding: 0;
  color: rgb(90, 89, 94);
  font-size: 40px;
}

h6 {
  margin: 0;
  padding: 0;
  color: rgb(6, 104, 22);
  font-size: 40px;
}

.feature {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  border-radius: 0;
}

.hero {
  background: image_url('marvel.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  box-shadow: 0px 3px 8px #2a2a2a;
}